
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

.form-bg {
    margin-top: 100px; 
    margin-left: 300px;
}
.form-container{
    font-family: 'Mukta', sans-serif;
    display: block;
}
.form-container .form-horizontal{
    background: repeating-linear-gradient(45deg,rgb(247, 231, 15),rgb(236, 240, 15) 10px,#f9f9f9 10px,#f9f9f9 20px);
    padding: 70px 40px 40px;
    border-radius: 0;
    border: 2px solid rgba(227, 243, 3, 0.521);
    box-shadow: 20px 20px 0 rgba(214, 211, 3, 0.582);
    position: relative;

}
.form-horizontal .title{
    color: #222;
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 8px 0;
}
.form-horizontal .description{
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 30px 0;
    display: block;
}
.form-horizontal .form-group{ margin: 0 0 30px; }
.form-horizontal .form-group:nth-child(3){ margin-bottom: 20px; }
.form-horizontal .form-control{
    color: #ff0000;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    padding: 2px 15px;
    border: 1px solid rgb(250, 246, 0);
    border-top-width: 2px;
    border-left-width: 2px;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border-color: #ff0000;
}
.form-horizontal .form-control::placeholder{
    color: #222;
    font-size: 15px;
}
.form-horizontal .btn{
    color: #fff;
    background-color: #ff0000;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    width: 180px;
    padding: 10px 30px;
    margin: 0 25px 0 0;
    border-radius: 30px;
    border: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus{
    color: #fff;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    outline: none;
}
.form-horizontal .btn:after{
    content: '';
    height: 70%;
    width: 110%;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: rotate(-50deg);
    position: absolute;
    right: -105px;
    top: -65px;
    transition: all 0.5s ease 0s;
}
.form-horizontal .btn:hover:after{
    right: -70px;
    top: -30px;
}
.form-horizontal .signup{
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 35px 0;
    vertical-align: text-top;
    display: inline-block;
}
.form-horizontal .signup a{
    color: #ff0000;
    text-decoration: underline;
    margin: 0 0 0 25px;
}
.form-horizontal .signup a:hover{
    color: #000;
    transition: all 0.3s ease 0s;
}
.form-horizontal .forgot{
    color: #ff0000;
    text-decoration: underline;
    display: block;
}
.form-horizontal .forgot a{
    color: #ff0000;
    transition: all 0.3s ease 0s;
}
.form-horizontal .forgot a:hover{ color: #222; }
@media only screen and (max-width:479px){
    .form-container .form-horizontal{
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-horizontal .title{ font-size: 55px; }
    .form-horizontal .description{ font-size: 16px; }
    .form-horizontal .form-control::placeholder{ font-size: 14px; }
    .form-horizontal .btn{
        display: block;
        margin: 0 auto 20px;
    }
    .form-horizontal .signup{
        text-align: center;
        margin: 0 auto 20px;
        display: block;
    }
    .form-horizontal .forgot{ text-align: center; }
}